{
    "wifi_ssid" : "your wifi ssid",
    "wifi_password" : "your wifi password",
    "url" : "https://storage.googleapis.com/example/example.bmp"
    "n" : 0,
    "e" : 0,
    "d" : 0,
    "p" : 0,
    "q" : 0

}